/* .main-panel {
    position: relative;
    z-index: 2;
    float: right;
    width: 100% !important;
    padding-left: 20% !important;
}
@media (min-width: 1200px){
    .container {
        width: 100% !important;
    }
} */
